
 .body {
    background-image: url(https://img.freepik.com/vetores-gratis/folhas-desenhadas-a-mao-em-preto-e-verde_125540-708.jpg?w=1380&t=st=1701294371~exp=1701294971~hmac=3c8111c2dce2ea2f7cc354348f5f2043f6b2cd522ba8e3f782e3c59f9d9312cc);
 }

 .site {
    background-image: url(https://img.freepik.com/vetores-gratis/folhas-desenhadas-a-mao-em-preto-e-verde_125540-708.jpg?w=1380&t=st=1701293815~exp=1701294415~hmac=1ff2d59afcf5c2afbd7afa01cb3086f641ee92d0bea143242d6dca07122ea2d4);
 }

 .it {
   
    font-family: cursive;
    margin-left: 30%;
    margin-right: 20%;
 }



.ft1{
    margin-left: 30%;
    margin-right: 10%;
    background-color: #486d63;
    box-shadow: 10px 10px 10px#002F1D;

}


 
 
 .titulo {
    background-color:#409E84;
 }
 
 
 
 .mclimaticas {
   background-color: #409E84;
   margin-left: 35%;
   margin-right: 0%;
   font-family: cursive;
 
 }
 
 
 .resposta {
    margin-left: 0%;
    margin-right: 35%;
    background-color: #88cbb8;
 }
 
 .ods {
    background-color: #5094CA;
    font-family: cursive;
    margin-left: 35%;
    margin-right: 0%;
    
 }
 

 
 
 .filhoesquerda {
 
    background-color: #88cbb8;
    margin-left: 0%;
    margin-right: 45%;

 }
 
 .filhodireita {
 
    background-color: #88cbb8;
    margin-left: 45%;
    margin-right: 0%;
 }
 
 .impulsionadores{
 
    background-image: url(https://img.freepik.com/vetores-gratis/nebulosa-verde_91008-240.jpg?w=1380&t=st=1701295721~exp=1701296321~hmac=5e56333ec380b38e913230f2e3aa95a574b5728377e8edcead81c820160cfb07);
    margin-right: 10%;
    margin-left: 10%;
    font-family: cursive;
    color:#002F1D ;
    
 
 }
 
 
 .TEXTINHO {
    background-color:#409E84;
    margin-right: 10%;
    margin-left: 10%;
 }
 
 .Duvidas{
 
    margin-right: 10%;
    margin-left: 10%;
 font-family: cursive;
 background-image:url( https://img.freepik.com/vetores-gratis/gravura-de-fundo-de-natureza-desenhada-a-mao_52683-71031.jpg?w=1380&t=st=1701295827~exp=1701296427~hmac=74ecff7b8b24b0c95ba32d6041be155b39179d0311d1097ccfb131e37de56de7);
 
 }
 
 .oqsao {
 
    margin-right: 0%;
    margin-left: 50%;
    font-family: cursive;
    background-color: #486d63;
 }
 
 .texto2 {
    margin-left: 5%;
    margin-right: 20%;
    font-family: cursive;
 background-color: #88cbb8;
 }
 
 
 .principal {
 
    margin-right: 0%;
    margin-left: 50%;
    font-family: cursive;
 background-color: #486d63;
 
 }
 
 
 .texto3 {
    
    margin-left: 5%;
    margin-right: 20%;
    font-family: cursive;
 background-color: #88cbb8;
 }